{% load static %}

<link rel='stylesheet' type='text/css' href="{% static 'website/css/project.css' %}">
<div class="text-center">
    <h3>Projects</h3>
</div>
<div class="card_container">
    {% for project in data.projects %}
    <div class="card text-center">
        <h4>{{project.name}}</h4>
        <a target="blank" href="{{project.live_url}}"><i class="fas fa-globe fa-lg"></i></a>
        <a target="blank" href="{{project.github_url}}"><i class="fab fa-github fa-lg"></i></a>
        <p>{{project.description}}</p>
    </div>
    {% endfor %}
</div>