<div id="projects">
    <div class="text-center">
        <h3>Projects</h3>
    </div>
    <div class="card_container">
        {% for project in data.projects %}
        <div class="card text-center">
            <h3>{{project.name}}</h3>
            <a class="icon-link" target="blank" href="{{project.live_url}}"><i class="fas fa-globe fa-2x"></i></a>
            <a class="icon-link" target="blank" href="{{project.github_url}}"><i class="fab fa-github fa-2x"></i></a>
            <p>{{project.description}}</p>
        </div>
        {% endfor %}
    </div>
</div>