/* normalization */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"),
    black;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* element level css */
h1,
h2,
h3,
h4,
h5,
h6,
p
{
    color: white;
}

a:visited {
    color: rgb(179, 87, 179);
}

a:hover {
    color: rgb(180, 29, 29);
}

a:active {
    color: rgb(24, 218, 24);
}

/* variables */
element {
    --primary-color: skyblue;
    --secondary-color: slategrey;
}


/* helpers */
.text-center {
    text-align: center;
}

@media (min-width: 1024px) {
    .container {
        margin: 0 10%;
    }
}

/* text */
.bio {
    text-align: center;
}

@media (min-width: 520px) {
    .bio {
        text-align: left;
    }
}

