/* normalization */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* variables */
element {
    --primary-color: skyblue;
    --secondary-color: slategrey;
}


/* helpers */
.text-center {
    text-align: center;
}

@media (min-width: 1024px) {
    .container {
        margin: 0 10%;
    }
}