#projects {
    margin-top: 5rem;
}

.card {
    border: 1px solid slategrey;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.699)
}

.card + .card {
    margin-top: 1rem;
}

.card a + a {
    margin-left: 8px;
}

@media (min-width: 520px) {
    .card {
        max-width: 15rem;
        padding: 1rem;
    }

    .card + .card {
        margin-left: 8px;
        margin-top: 0;
    }

    .card_container {
        display: flex;
        justify-content: center;
    }
}