/* variables */
:root {
    --primary-color: skyblue;
    --secondary-color: rgb(50, 50, 50);
    --white-faded: rgba(255, 255, 255, 0.5);
    --black-faded: rgba(0, 0, 0, 0.5);
}

/* normalization */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: 
    linear-gradient(var(--black-faded), var(--black-faded)),
    url("https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"),
    black;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}



/* element level css */
h1,
h2,
h3,
h4,
h5,
h6,
p
{
    color: white;
    margin-top: 0;
}

nav {
    height: 50px;
    background-color: var(--secondary-color);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    color: white !important;
    margin-left: 2em;
}

a {
    color: rgb(97, 97, 255);
}

a:visited {
    color: rgb(179, 87, 179);
}

a:hover {
    color: rgb(180, 29, 29);
}

a:active {
    color: rgb(24, 218, 24);
}


/* helpers */
.text-center {
    text-align: center;
}



/* text */
.bio {
    text-align: center;
    margin-top: 5rem;
}

.container {
    min-height: calc(100vh - 140px);
}

.headshot {
    height: 200px;
    border-radius: 50%;
}

#projects {
    margin-top: 5rem;
}

.card {
    border: 1px solid slategrey;
    border-radius: 4px;
    background-color: var(--black-faded);
}

.card + .card {
    margin-top: 1rem;
}

.card a + a {
    margin-left: 8px;
}


.technology_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--white-faded);
    border-radius: 4px;
}

.technology {
    flex: 1 1 auto;
    padding: 1rem;
    border: 1px solid black;
    margin: 4px;
    display: flex;
    justify-content: center;
}

.technology_image {
    height: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    height: 50px;
    margin-top: 20px;
}

footer a + a {
    margin-left: 1rem;
}

@media (min-width: 520px) {
    .technology_container {
        padding: 1rem 4rem;
    }

    .card {
        max-width: 15rem;
        padding: 1rem;
    }

    .card + .card {
        margin-left: 8px;
        margin-top: 0;
    }

    .card_container {
        display: flex;
        justify-content: center;
    }

    .bio {
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .container {
        margin: 0 10%;
    }
}